
.no-results {
    margin-top: 70px;
    font-weight: 600;
    font-size: 22px;
  }
  
  
  .delivery-actions {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 40px;
  }
  
  

  